<mat-card class="user-card">
  <mat-card-header>
    <div mat-card-avatar class="user-card-header-image"></div>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <div class="spacer"></div>
    <button mat-icon-button *ngIf="canUpdateUser()" (click)="openDialog()" [disabled]="dialogOpened">
      <mat-icon class="pencil">edit</mat-icon>
    </button>
  <mat-card-subtitle>
    <span *ngFor="let role of user.roles; last as last">{{ role | role }}{{ last ? '' : ', ' }}</span>
  </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="user.phone" class="info">
        <mat-icon>phone</mat-icon>&nbsp;{{user.phone}}
    </div>
    <div *ngIf="user.email" class="info">
        <mat-icon>email</mat-icon>&nbsp;{{user.email}}
    </div>
    <div *ngIf="user.team" class="info">
        <mat-icon>people</mat-icon>&nbsp;{{user.team}}
    </div>
    <div *ngIf="user.joinDate" class="info">
        <mat-icon>event</mat-icon>&nbsp;{{user.joinDate?.toDate() | date}}
    </div>
  </mat-card-content>

</mat-card>

