.grid-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.dashboard-trombi {
  grid-column: 2 / span 3;
  grid-row: 1 / 2;
}
.dashboard-files {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.dashboard-news {
  grid-column: 1 / span 3;
  grid-row: 2 / 2;
}

.trombi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 660px) {
  .dashboard-trombi {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .dashboard-files {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .dashboard-news {
    grid-column: 1 / span 3;
    grid-row: 3;
  }

}

