<div class="grid-container">

  <mat-card class="dashboard-trombi">
    <mat-card-header>
      <mat-card-title>
        Nouveaux arrivants
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="trombi">
      <app-user-card *ngFor="let user of users | async" [user]="user"></app-user-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-files">
    <mat-card-header>
      <mat-card-title>
        Fichiers
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <app-storage [showHeader]="false"></app-storage>
    </mat-card-content>
  </mat-card>

  <app-article
      class="dashboard-news"
      prependTitle="Dernier article publié : "
      [article]="article | async"
  >
  </app-article>

</div>
