<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/logo-univ-lorraine.png"
  />
  <span>Portail web</span>
  <ng-container *ngIf="isLoggedIn">
    <a routerLink="/dashboard" routerLinkActive="active">Accueil</a>
    <a routerLink="/news" routerLinkActive="active">Actualités</a>
    <a routerLink="/trombinoscope" routerLinkActive="active">Trombinoscope</a>
    <div class="spacer"></div>
    <p>Bienvenue {{ username }}</p>
    <a routerLink="" (click)="logOut()">Se déconnecter</a>
  </ng-container>
</div>
