.content {
  display: flex;
  flex-direction: column;
  height: auto;
}

.half-left {
  width: 47.5%;
  margin-right: 5%;
}
.half-right {
  width: 47.5%;
}
.full {
  width: 100%
}

.mat-dialog-actions {
  justify-content: flex-end;
}
